* {
  outline: none !important;
}

a,
a:hover {
  text-decoration: none !important;
}

.header {
  border-bottom: 2px solid rgb(229, 229, 299);
}

.header .nav-link {
  font-weight: 600;
  color: #555 !important;
  padding: 28px 1.5rem !important;
  border: 0;
  border-bottom: 2px solid transparent;
}

.header .nav-link:hover {
  border-bottom: 2px solid #1976d2;
}

.header .nav-link .icon-lg {
  font-size: 22px;
}
